openapi: 3.0.0
servers:
  - url: https://api.mpay.com.au
    description: Production URL
  - url: https://api.m-pay.com.au
    description: Sandbox URL
info:
  description: |
    # Introduction

    <p> 
      Monoova has developed a powerful payments engine which allows you to receive, manage and pay funds in AUD in Australia automatically.
      This service is made available to Monoova’s clients through a set of easy-to-use RESTful APIs with JSON payloads described in this document.
      The central idea is to reduce the cost, risk and effort normally associated with managing complex money movements so that you can focus on growing your business.
    </p> 
    <p> 
     Our clients can receive and reconcile funds via Realtime transfers (NPP), direct credits/debits, BPAY and cards. 
     They can then manage those funds by building virtual account/wallet hierarchies to get bespoke reporting, reconciliation and much more. 
     And finally, our clients can pay funds via Realtime transfers (NPP) direct credits and BPAY. 
     As new technologies become available (e.g. NPP Mandated payments) we will make additional methods of receiving, managing and paying available.
    </p> 
    <p> 
      All information flows are real-time.
      Moving money between various Monoova accounts is also real time.
      All money flows in and out of the Engine are as fast as the banking system allows.
    </p>
    <p> 
      The sandbox environment is open to everyone who signs up on our <a href="https://sandbox.monoova.com/user/login" target="_blank">Sandbox Portal</a> at no cost.
      The sandbox environment allows you to test out the functionality of our API in a consequence free development environment.
      Access to the live environment is granted once you have (1) gone through our compliance process and (2) had formal sign-off on your sandbox integration.
    </p>
    <p>
      Monoova regularly releases additive changes to our API, as well as new versions of the API when a breaking change would occur. 
      To ensure your integration does not break due to these additive changes, we recommend not validating the entire schema, or the position of a parameter within the schema.
    </p>
    <br/><br/>
    <p> <strong> Note&#58;</strong> Please note we do not accept TLS 1.0 or 1.1 connections</p>

    # Getting started
    >
      - Sign on to our <a href="https://sandbox.monoova.com/user/login" target="_blank">Sandbox Portal</a>
      - Get your sandbox API key under **MANAGE > ACCOUNTS** in the Sandbox Portal
      - [Authenticate](#section/Authentication)
      - Browse this document to find the functions you need
      - Begin experimenting with your first API calls by sending HTTP requests to the endpoints described in this document
      - Use the provided examples in the document as guidance

    # Authentication
      All RESTful APIs in this document use BASIC Authentication (except those in public/v1) in two scenarios either
      - <strong> API KEY </strong>
      - <strong> OneShotSecurityToken </strong><br><br>

    > **Sandbox Authentication Credentials**
    <table>
      <tr>
        <th>Field</th>
        <th>Value</th>
      </tr>
      <tr>
        <td>Username</td>
        <td>API Key (obtained from the <a href="https://sandbox.monoova.com/user/login" target="_blank">Sandbox Portal</a>) </td>
      </tr>
      <tr>
        <td>Password</td>
        <td>leave blank when using API key; Monoova will provide password for OneShotSecurityToken</td>
      </tr>
      <tr>
        <td>Base URL</td>
        <td>https://api.m-pay.com.au/</td>
      </tr>
    </table> <br>

    > **Live Authentication Credentials**
    This will be provided by Monoova after a technical review. <br> 
    <table>
      <tr>
        <th>Field</th>
        <th>Value</th>
      </tr>
      <tr>
        <td>Username</td>
        <td>API Key (obtained from the Production Portal; Production credentials will be supplied by Monoova) </td>
      </tr>
      <tr>
        <td>Password</td>
        <td>leave blank when using API key; Monoova will provide password for OneShotSecurityToken</td>
      </tr>
      <tr>
        <td>Base URL</td>
        <td>https://api.mpay.com.au/</td>
      </tr>
    </table> <br>

    When using the LIVE Engine, your Sign-In Account is given five (5) attempts to authenticate your credentials. 
    On the fifth failure your Sign-In Account is locked for one (1) hour. 
    The returned data will indicate that your account is locked and the time in UTC that the account will be unlocked. 
    If you require the account to be unlocked on the LIVE system you may contact your Monoova representative and at his or her discretion they will unlock the account.
    See the API routes in Security to manage Passwords and Tokens. <br><br>

    <h3> UserName/Password </h3>
    Using this scenario, you can configure BASIC Authentication with the following <br> <br>
    <li> <strong> UserName </strong> - API Key (obtained from the <a href="https://sandbox.monoova.com/user/login" target="_blank">Sandbox Portal</a>) Production credentials will be supplied by Monoova when you have demonstrated successful implementation of the API on our Sandbox environment.</li>
    <li> <strong> Password </strong> - When using your API Key, no password is required. 
    If the key is compromised, it can be re-rolled via the <a href="https://sandbox.monoova.com/user/login" target="_blank">Sandbox Portal</a>. </li> <br>

    # Feedback

    We value your feedback on our API. Please fill out the form <a href="https://ncv.microsoft.com/8eaKX3fsiJ" target="_blank">here</a> to share your feedback.

  version: v5.29
  title: Monoova Payments API
  contact:
    name: Monoova Support
    email: support@monoova.com
    url: https://www.monoova.com
  x-logo:
    url: 'https://movdpwebsiteprodae.blob.core.windows.net/images/Monoova-Primary-Logo-Black-RGB.png'
    altText: Monoova logo

tags:
  - name: Receive and Pay
    description: <P>
      With our API, you receive funds from both outside and inside the Monoova Payments Engine.
      From outside the Engine, e.g. from your customers or your own bank account, you can receive and reconcile funds via
      </P>
      <ul>
      <li> Direct credits </li>
      <li> Direct debits </li>
      <li> BPAY </li>
      <li> NPP </li>
      </ul>
      <p>
      From inside the engine, you can receive funds from either your own virtual accounts and wallets or those belonging to others.
      These are real-time transactions.
      Once you have cleared funds in our Engine you can decide to pay recipients both outside and inside the Monoova Payments Engine.
      To recipients outside, you can send money via
      </p>
      <ul>
      <li> Direct credits </li>
      <li> BPAY </li>
      <li> NPP </li>
      </ul>
      <p>
      Recipients in the Engine receive your funds in real time straight into their own virtual accounts and wallets.
      As always, we provide you with comprehensive reports on all your money moves.  You will find more information on reporting,
      balance queries and many other management tools in the <a href="/payments#tag/Manage"> Manage </a> section.
      </p>
  - name: Financial
    x-displayName: Financial / Payments
    description: |
      <h3> Overview </h3>
      <p> The Financial APIs enable you to process credits and debits, including transferring funds within Monoova to a Ledger Account, an mWallet (for BPAY transactions), or an mAccount (our virtual account). You can send payments to external Australian bank accounts using a BSB and account number, token, or PayID, and make BPAY payments using a biller code and CRN. </p>
      <p> The APIs also allow you to debit Australian bank accounts using Direct Debit, and retrieve the status of transactions. </p>
  - name: BPAY
    description: <h3>  Overview </h3>
      The BPAY APIs do not perform any financial transactions and are used to validate BPAY information that is used in the <a href="/payments#operation/TransactionExecute"> /financial/v2/transaction/execute </a>  API.
      The <a href="/payments#operation/TransactionValidate"> /financial/v2/transaction/validate </a> APIs also validates BPAY information using the same sub-system as documented in this section before performing any financial transactions.<br>
      <p> <strong>  Important Notes </strong> </p>
      <li> By design, BPAY validation can be time sensitive. If you cache valid BPAY information for later use, it may become invalid due to time expiry.</li>
      <li> By design, BPAY validation can be amount sensitive. If you cache valid BPAY information for later use and change the amount to pay then this could be invalid.</li>
      <li> BPAY validation should be performed immediately before calling the <a href="/payments#operation/TransactionExecute"> /financial/v2/transaction/execute </a> API to perform the bill payment.
      You have the option of calling <a href="/payments#operation/TransactionValidate"> /financial/v2/transaction/validate </a> (The first validation error will be returned which may not be a BPAY error) </li>
  - name: Verify
    description: <h3>Overview</h3>
      <h3>Bank Account Ownership Verification</h3>
      <p>The purpose of this API is to verify access to a bank account or PayID details, which has several compliance and risk-mitigation applications.</p>

      <p>If the NppCreditPayID method is used, the API response will include the PayID name. In scenarios where the PayID is either unidentified or not configured, you can verify if the payer/payee has access to the account using a secret code.</p>

      <p>By passing the BSB and account number, the account verification API will credit a target bank account with a secret code in the remitter name and lodgement reference. This code can only be viewed by someone who has access to the target bank account by accessing and viewing their bank statement. The code can then be submitted against our records, and if it matches, Monoova will persist a verification token against that specific account.</p>

      <h4>How it works</h4>
      <ol>
      <li>Initiate a verification transaction on the target bank account.</li>
      <li>Monoova will credit the target bank account with a 1c amount and a secret remitter code (may take up to 48 hours for the code to show on the target bank account).</li>
      </ol>

      <p>Below image is how a sample verification code appears on a bank statement. In YELLOW is the code your client will need to return, in BLUE is your remitter name. For NPP verification transactions, the secret code can also be found in the lodgement reference.</p>
      <img src="https://movdpwebsiteprodae.blob.core.windows.net/images/bank_ref.png" alt="bank-ref">

      <ol>
      <li>Owner of the target bank account views the statement to obtain the secret code.</li>
      <li>Submit the secret code to Monoova via POST <a href="/payments#operation/VerifyAccountValidate">verify/v1/aba/validate</a>. In the sandbox, use code "555555" to test successful validation of an account verification.</li>
      <li>If the submitted code and amount are correct, the target bank account is designated as verified.</li>
      </ol>

  - name: Automatcher (Bank Account Receivables)
    description: <h3>  Overview </h3>
      <p>
      Having customers paying you by bank transfer might be easy for your customers but contains a reconciliation risk for you.
      If your customer mistypes or forgets the reference to go with the payment, you might not know whom the payment is from.
      Orphaned transactions can be challenging and costly to handle. The solution is our receivables API.
      We allow you to assign a specific account number to each payer so you know for a fact where the received funds originated, regardless of whether they remembered to type the reference.
      </p>
      <p>
      Specifically, the bank-account receivables APIs allow the creation and maintenance of bank account numbers for the purpose of receiving and reconciling funds via direct credit. Once an account number is created, payments may be made via any banking institution in Australia to the BSB and account number provided by us to you.
      These account numbers can be toggled active/inactive and linked to a client provided unique ID.
      Once a transaction is received, Monoova provides reporting on the details of each item, and makes the funds available for disbursement in your Sign-in mAccount.
      Authentication is the same as for the rest of Monoova’s APIs.
      </p>
  - name: Whitelisting for Automatcher (Bank Account Receivables)
    description: <h3>  Overview </h3>
      <p>
      This feature enables whitelisting of bank accounts when receiving funds in automatcher accounts. Funds received from a non-whitelisted account will be automatically returned. Using this feature, funds received can be limited to pre-approved bank accounts only.
      </p>
      <p> There are 2 criteria that can be set when whitelisting bank account numbers. </p>
      <p> Inbound transaction will only be accepted from:&nbsp; </p>
      <p> 1. An account that matches a whitelisted account name; AND/OR <br/>
      2. An account that matches a whitelisted BSB and account number </p>
      <p> If pre-defined criteria are not met, the transaction will be returned to the sender automatically. If enabled, each automatcher account has its own separate whitelist. </p>
      <p> You have the option to establish a webhook subscription to receive a notification when a payment is declined as a result of whitelist restrictions. </p>
      <p> To subscribe to a webhook use the <a href="/payments#tag/Subscriptions"> Subscriptions </a> APIs. Event name:&nbsp; <strong>InboundDirectCreditRejections</strong></p>
  - name: PayID
    description: <h3>  Overview </h3>
      <p>
      A PayID is an alias for a bank account number that makes paying into account easier.
      A PayID can be an email address, phone number or ABN.
      PayIDs are issued and associated with our <a href="/payments#tag/Automatcher-(Bank-Account-Receivables)"> /receivables </a>  bank accounts to allow your users a simpler way of sending you money.
      Once a PayID has been registered against a bank account, when a payment is made to that ID, the funds will arrive in your receivables account number.
      Currently we only support email PayIDs via the API.
      </p>
  - name: Reconciliation Rules
    description: <h3>  Overview </h3>
      <p>
      This feature enables customers to specify the criteria for accepting incoming NPP and DE payments in real time. The customer will be able to advise Monoova about the exact amount they expect to receive in their ABA/PayId in an agreed timeframe. This information would be used to determine whether to accept or reject a payment.<br/><br/>
      There are 2 criteria that can be set when specifying the reconciliation rules. Inbound transactions will only be accepted if
      <ul>
      <li>Bsb - Account Number and amount matches an active reconciliation rule. OR</li>
      <li>PayId and amount match an active reconciliation rule</li>
      </ul>
      If pre-defined criteria are not met, the transaction will automatically be returned to the sender. <br/><br/>
      These rules will not be applied to NPP PayTo Receivables.<br/>
      </p>
  - name: Tools
    description: <h3>  Overview </h3>
      The APIs in the tools/v1/ section represent utilities that you may find useful while consuming the other APIs offered as part of the Engine other APIs.
  - name: Manage
    description:
      To maximise the benefits of payments automation, you may choose to make use of our kit of management tools.
      Here, you will find information on APIs related to reporting, security features and the management of our virtual account, the so-called mAccount.
      We have a number of new features coming and will keep you updated as they appear.
      Our aim is to allow you to automate fully the management of your funds.
  - name: Subscriptions
    description: The endpoints in this section allow subscription and management of webhooks for the purpose of receiving transaction notifications.</br>
  - name: Webhooks
    description: The examples of webhooks for the purpose of receiving transaction notifications.
      <table>
      <tr><th>Event name</th><th>Notification sent when</th> </tr>
      <tr><td>  NPPReceivePayment  </td><td>  Payment received via NPP rail.  </td></tr>
      <tr><td>  PayToReceivePayment  </td><td>  Payment received as initiated through PayTo.  </td></tr>
      <tr><td>  InboundDirectCredit  </td><td>  Payment received via direct entry rail. Note funds settled in batch via BECS settlement windows.  </td></tr>
      <tr><td>  InboundDirectDebit  </td><td>  Received 3rd party request to direct debit automatcher account.  </td></tr>
      <tr><td>  DirectEntryDishonour  </td><td>  A direct debit request / direct credit payout has been dishonoured.  </td></tr>
      <tr><td>  PendingInboundRtgsImt  </td><td>  RTGS/IMT transactions are received.  </td></tr>
      <tr><td>  InboundRtgsImtStatus  </td><td>  The status of an RTGS/IMT transaction changes.  </td></tr>
      <tr><td>  NppReturn  </td><td>  An NPP payment is returned.  </td></tr>
      <tr><td>  NppPaymentStatus  </td><td>  The status of a pending NPP payment is updated.  </td></tr>
      <tr><td>  InboundDirectCreditRejections </td><td>  An  inbound direct credit is rejected.  </td></tr>
      <tr><td>  NPPCreditRejections </td><td>  NPP payment  intended for an ABA/PayId is rejected. </td></tr>
      <tr><td>  DirectDebitClearance </td><td>  Daily when direct debit transactions are cleared. </td></tr>
      </table>
      <br/>
  - name: Reports
    description: <h3>  Overview </h3>
      The APIs in the reports/v1 section help you keep track of balances and transactions.
      Payments automation is only helping you relax if you know where exactly your money is at any one point in time.
  - name: Token
    description: <h3> Overview </h3>
      <p>
      Using tokens is a way of increasing the security around sensitive information. A token can be used to obfuscate debit and credit details.
      The details of a token (its payload) are stored encrypted on the Engine servers.
      The tokening system has been designed such the generated token has no mathematical or algorithmic connection to the secret data held as the payload.
      The token is a random number that is manifested as a GUID.
      Currently two types of payloads can be held within the tokening system
      </p>
      <ul>
      <li> Australian Bank Account </li>
      <li> BPAY details </li>
      </ul>
      <p>
      Other payload types can be added if required.
      For example, if you have asked the user to enter their bank-account details on your website you can use the security/v1/createOneShotSecurityToken API to embed an OneShotSecurityToken in your page.
      Using this OneShotSecurityToken you can call the appropriate token/v1/create API passing the details.
      This way, the customer’s payload details are never passed through your server.
      </p>
  - name: Security
    description: <h3>  Overview </h3>
      <p>
      The security/v1 APIs allows you to manage security tokens.
      This gives you an alternative to using signIn API KEY for BASIC authentication for each API call.
      Security tokens come in two forms
      </p>
      <ul>
      <li> <strong> OneShotSecurityToken </strong> </li>
      <li> <strong> SecurityToken </strong> </li>
      </ul>
      <p>
      The two security tokens operate in exactly the same way.
      The token is used to replace your UserName when configuring BASIC Authentication.
      Should you provide a password anyway, it will be ignored. Each token type has an expiry time between 1 and 15 minutes. The expiry time cannot be extended.
      </p>
      <p>
      As the name implies, a OneShotSecurityToken can only be used once. The token is deleted on its first use or when it expires, whatever is sooner.
      </p>
      <p>
      A SecurityToken can be used multiple times until it expires. The expiry time of a SecurityToken can be extended.
      </p>
      <p>
      Please note that security tokens discussed in this section have nothing in common with the token/v1 APIs described elsewhere in this document.
      Security tokens provide secure sign-in from a web page; token/v1 APIs tokenize sensitive information.
      </p>
  - name: mAccount
    description: <h3>  Overview </h3>
      The mAccount is the name we have given our virtual account.
      It is at the centre of anything you do with our Payments Engine.
      In many ways, your mAccount(s) is you in the Engine,
      this is where you get authenticated, where your funds flow in and out, and where you get your reports.
      It is also the building block for a bespoke ecosystem of virtual accounts which you can build in the Engine.
      And though we call it an account, it can just as easily be used as a wallet.
      The APIs in this section do not perform financial transactions. Instead, they are used to manage mAccount information in the Engine.
      The /financial/v2/transaction API verifies mAccount information using this subsystem before performing a transaction.
  - name: mWallet
    description: <h3>  Overview </h3>
      mWallet is the name we have given to the digital wallet required for our BPAY payments. For any other digital-wallet uses, we recommend our mAccount.
      The APIs in this section do not perform any financial transactions.
      They are used to manage mWallet information used by the Engine.
      The /financial/v2/transaction API verifies mWallet information using this subsystem before performing the transaction.
  - name: Public Endpoints
    description: ''
  - name: Ledger Account
    description:
      'Monoova allows virtual ledgers to be created and linked to an Automatcher account number and optional PayID that can be used to track funds received and paid.
      Moving funds in and out of ledgers is accomplished by utilising the Monoova PayTo and financial APIs. In the financial/execute call, populate “ledgerAccountNumber” in the mwallet fields, either in the disbursement object to transfer funds, or in the source object to withdraw.'

x-tagGroups:
  - name: 'Receive and Pay'
    tags:
      - Financial
      - Verify
      - Automatcher (Bank Account Receivables)
      - Whitelisting for Automatcher (Bank Account Receivables)
      - Ledger Account
      - Reconciliation Rules
      - PayID
      - Tools
  - name: 'BPAY'
    tags:
      - BPAY
      - mWallet
  - name: 'Manage'
    tags:
      - Subscriptions
      - Webhooks
      - mAccount
      - Reports
      - Security
      - Token
  - name: 'Public Endpoints'
    tags:
      - Public Endpoints

security:
  - BasicAuth: []

paths:
  # bpay
  '/bpay/v1/validate/{billerCode}':
    get:
      tags:
        - BPAY
      summary: Validate a BPAY transaction
      description:
        This API validates the BPAY Biller Code and optionally the BPAY Customer Reference Number and Amount. For a complete BPAY validation the BPAY Biller Code, BPAY Customer Reference Number and Amount must be supplied.
        When fully validated a BPAY financial transaction should be made as soon as practicable as some BPAY combinations are date sensitive. BPAY validation uses the BPAY subsystem error codes. <br/>
        Sample URL:&nbsp; https://api.mpay.com.au/bpay/v1/validate/{billerCode}?custRef={CRN}&amount={amount}

      operationId: BPAYValidate
      parameters:
        - name: billerCode
          in: path
          required: true
          description: This is the BPAY biller code that was requested. billerCode must be numeric
          schema:
            type: string
            example: '857763'
            maxLength: 10
        - name: custRef
          in: query
          required: false
          description: BPAY Customer Reference Number. If this field is empty this denotes that the customerReferenceNumber is variable for each bill and should not be reused.
          schema:
            type: string
            example: '6279059700000505'
            maxLength: 20
        - name: amount
          in: query
          required: false
          description: Bill amount to be validated. <strong> Note if CustRef is not provided, amount will not validate as it is dependent on both the CRN and Biller. </strong> The maximum value of the field is $9999999999.99.
          schema:
            type: number
            example: '100'
            maxLength: 13
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.ValidateBPAYResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  '/bpay/v1/biller/{billerCode}':
    get:
      tags:
        - BPAY
      summary: 'Get BPAY biller code details'
      description: This API returns extended information for the BPAY biller. Status will be “UnknownBillerCode” if Biller Code is invalid.
      operationId: BPAYGetBiller
      parameters:
        - name: billerCode
          in: path
          required: true
          description: This is the BPAY biller code that was requested. billerCode must be numeric
          schema:
            type: string
            example: '857763'
            maxLength: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.BPAYBillerResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  '/bpay/v1/receipts':
    post:
      tags:
        - BPAY
      summary: 'Get BPAY receipts'
      description: This API returns the list of BPAY receipts.
        <br/> <strong> Note&#58;</strong>  Filters - One of the below options should be provided by customer.
        <br/> 1) uniqueReferenceNumber <br/> 2) billerCode + referenceNumber + date
      operationId: BPAYGetReceipts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bpay.receipts'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.BPAYReceiptResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  '/bpay/v1/billers':
    get:
      tags:
        - BPAY
      summary: Search for BPAY billers
      description:
        This API returns an array of BPAY billers matched to the case insensitive search string. The system matches on the billerLongName and billerShortName.
        Use skip and take to page through result set. Skip and take will be changed back to their defaults if they are over-range. Status will be “UnknownBillerCode” if there are no matches.
      operationId: BPAYGetBillers
      parameters:
        - name: search
          in: query
          required: false
          description: The search string
          schema:
            type: string
            example: 'pty%20ltd'
        - name: skip
          in: query
          required: false
          description: The actual number of records skipped.
          schema:
            type: number
            example: '0'
        - name: take
          in: query
          required: false
          description: The number of records that were requested.
          schema:
            type: number
            example: '50'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.BPAYBillersResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  '/bpay/v1/history/{accountNumber}':
    get:
      tags:
        - BPAY
      summary: Get a wallet's BPAY History
      description: This API returns the mWallets history of BPAY payments.
        The returned history list is sorted by the count property of the BPAYHistoryItem descending.
      operationId: BPAYGetHistory
      parameters:
        - name: accountNumber
          in: path
          required: true
          description: associated 'mWallet' 16 digit number
          schema:
            type: integer
            example: 6279059700022400
            maxLength: 16
            minLength: 16
        - name: take
          in: query
          required: false
          description: The number of records that were requested.
          schema:
            type: integer
            example: '50'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.BPAYHistoryResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  '/bpay/v1/bpayInReport/{date}':
    get:
      tags:
        - BPAY
      summary: BPAY Receivables Report
      description:
        Returns a report of all received  BPAY transactions for the day with associated details.
        If requested multiple times on the current date (calendar day, AEDT), the report is cumulative.
        E.g. if, on the same day, a report is requested at 10am and another one at 1pm,
        the report at 1pm will contain all the transactions already contained in the 10am report, in addition to any new transactions.
        <br/> <br/>
        The report is an application/octet-stream, columns are comma separated.
        Where a comma(,) or double quote(") is present in any of the below fields,
        the field will be encased in double quotes and/or escaped as per <a href="https://tools.ietf.org/html/rfc4180" target="_blank">RFC4180</a><br>
        Columns are as follows:&nbsp;
        <style type="text/css">
        .tb { table-layout:auto; width:100px;!important }
        .td { overflow:hidden; white-space:nowrap; text-overflow:ellipsis; !important}
        </style>
        <table class="tb">
        <tr>
        <td class="td"> Transaction Id </td>
        <td class="td"> Batch Id </td>
        <td class="td"> BPAY Settlement Date </td>
        <td class="td"> Payment Accepted DateTime </td>
        <td class="td"> Payment Type </td>
        <td class="td"> Payer Institution Code </td>
        <td class="td"> Payer State </td>
        <td class="td"> Biller Code </td>
        <td class="td"> Customer Reference Number </td>
        <td class="td"> Payment Method </td>
        <td class="td"> Amount </td>
        <td class="td"> Transaction Reference Number </td>
        </tr>
        <tr>
        <td class="td">
        <br/> <br/>
        Monoova generated Unique ID.<br/>
        Integer.<br/>
        <br/> <br/> <br/>
        </td>
        <td class="td">
        Payment Batch ID. <br/>
        Payments come in batches <br/>
        throughout the day. <br/>
        Integer.<br/>
        </td>
        <td class="td">
        AEDT, Sydney. <br/>
        Max 27 chars.
        </td>
        <td class="td">
        AEDT, Sydney. <br/>
        Max 27 chars.
        </td>
        <td class="td">
        Possible values:&nbsp; <br/>
        'Payment', 'Error Correction', 'Reversal'.
        </td>
        <td class="td">
        PayerInstitutionCode. <br/>
        Max 3 chars.
        </td>
        <td class="td">
        PayerState <br/>
        Max 3 chars.
        </td>
        <td class="td">
        BillerCode <br/>
        Max 10 chars.
        </td>
        <td class="td">
        CustomerReferenceNumber  <br/>
        Max 20 chars.
        </td>
        <td class="td">
        PaymentMethod <br/>
        Max 3 chars.   <br/>
        </td>
        <td class="td">
        Amount, <br/>
        2 decimal places <br/>
        for cents. Max 12 chars.
        </td>
        <td class="td">
        TransactionReferenceNumber. <br/>
        Max 21 chars.
        </td>
        </tr>
        </table>
      operationId: BPAYReceivablesReport
      parameters:
        - name: date
          in: path
          required: true
          description: Format:&nbsp; 'yyyy-MM-dd'. The date for which Monoova received the BPAY Receivable transactions.
          schema:
            type: string
            example: '2020-11-01'
        - name: skip
          in: query
          required: false
          description: Number of records to skip. 1 is the first record.
          schema:
            type: integer
            example: 1
        - name: take
          in: query
          required: false
          description: Number of records to take.
          schema:
            type: integer
            example: 100
      responses:
        '200':
          description: OK
          content:
            text/plain:
              examples:
                response:
                  value: |
                    Transaction Id,Batch Id,BPAY Settlement Date,Payment Accepted DateTime,Payment Type,Payer Institution Code,Payer State,Biller Code,Customer Reference Number,Payment Method,Amount,Transaction Reference Number,Receipt Number
                    10557123,57,2020-11-02T00:00:00,2020-11-02T19:58:06,Payment,CBA,NSW,857763,100014080495384,DebitAccount,20000.00,CBA202011020140276714,5678120
        '400':
          description: Bad request
        '500':
          description: Internal Server Error

  # financial
  /financial/v2/transaction/execute:
    post:
      tags:
        - Financial
      summary: Process a transaction
      description:
        The purpose of the execute API is to debit a source for funds then distribute those funds to one or more supplied disbursement accounts.
        You can use the <a href="/payments#operation/TransactionValidate"> /financial/v2/transaction/validate </a> endpoint to determine if the parameters are correct.
        <br/> <br/> <strong> NPP Payment Pending Status</strong>
        <br/> If you are returned a status of ‘Pending’ for an NPP payout, this means that we are waiting for confirmation that the payment has been processed by the processor.

      operationId: TransactionExecute

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/financial.transaction'
            examples:
              Pay Bpay:
                $ref: '#/components/examples/PayBpayRequest'
              Debit Child mAccount:
                $ref: '#/components/examples/DebitChildMAccountRequest'
              Pay Child mAccount:
                $ref: '#/components/examples/PayChildMAccountRequest'
              Direct Debit:
                $ref: '#/components/examples/DirectDebitRequest'
              Bulk Direct Debit:
                $ref: '#/components/examples/BulkDirectDebitRequest'
              Direct Credit:
                $ref: '#/components/examples/DirectCreditRequest'
              Direct Debit (Token):
                $ref: '#/components/examples/DirectDebitTokenRequest'
              Direct Credit (Token):
                $ref: '#/components/examples/DirectCreditTokenRequest'
              Npp Pay (BankAccount):
                $ref: '#/components/examples/NppPayBankAccountRequest'
              Npp Pay (PayId):
                $ref: '#/components/examples/NppPayIdRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.GenericPayment.GenericFinanceResponse_V2'
              examples:
                Pay Bpay:
                  $ref: '#/components/examples/PayBpayExecuteResponse'
                Debit Child mAccount:
                  $ref: '#/components/examples/DebitChildMAccountExecuteResponse'
                Pay Child mAccount:
                  $ref: '#/components/examples/PayMAccountExecuteResponse'
                Direct Debit:
                  $ref: '#/components/examples/DirectDebitExecuteResponse'
                Bulk Direct Debit:
                  $ref: '#/components/examples/BulkDirectDebitExecuteResponse'
                Direct Credit:
                  $ref: '#/components/examples/DirectCreditExecuteResponse'
                Direct Debit (Token):
                  $ref: '#/components/examples/DirectDebitTokenExecuteResponse'
                Direct Credit (Token):
                  $ref: '#/components/examples/DirectCreditTokenExecuteResponse'
                Npp Pay (BankAccount):
                  $ref: '#/components/examples/NppPayBankAccountExecuteResponse'
                Npp Pay (PayId):
                  $ref: '#/components/examples/NppPayIdExecuteResponse'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  /financial/v2/transaction/validate:
    post:
      tags:
        - Financial
      summary: Validate a transaction
      description: You can use this API to determine if the parameters are correct.
        The body is the same as <a href="/payments#operation/TransactionExecute"> /financial/v2/transaction/execute </a> endpoint.
        The callerUniqueReference will be reusable after the validate call is complete.
        <br/> <strong> Note&#58;</strong>  You don't need to call this endpoint before an execute as all transactions will be validated before they execute. This is useful if you are using a new rail and want to check your parameters.
      operationId: TransactionValidate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/financial.transaction'
            examples:
              Pay Bpay:
                $ref: '#/components/examples/PayBpayRequest'
              Debit Child mAccount:
                $ref: '#/components/examples/DebitChildMAccountRequest'
              Pay Child mAccount:
                $ref: '#/components/examples/PayChildMAccountRequest'
              Direct Debit:
                $ref: '#/components/examples/DirectDebitRequest'
              Bulk Direct Debit:
                $ref: '#/components/examples/BulkDirectDebitRequest'
              Direct Credit:
                $ref: '#/components/examples/DirectCreditRequest'
              Direct Debit (Token):
                $ref: '#/components/examples/DirectDebitTokenRequest'
              Direct Credit (Token):
                $ref: '#/components/examples/DirectCreditTokenRequest'
              Npp Pay (BankAccount):
                $ref: '#/components/examples/NppPayBankAccountRequest'
              Npp Pay (PayId):
                $ref: '#/components/examples/NppPayIdRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.GenericPayment.GatewayTransactionValidate_V2'
              examples:
                Pay Bpay:
                  $ref: '#/components/examples/PayBpayValidateResponse'
                Debit Child mAccount:
                  $ref: '#/components/examples/DebitChildMAccountValidateResponse'
                Pay Child mAccount:
                  $ref: '#/components/examples/PayMAccountValidateResponse'
                Direct Debit:
                  $ref: '#/components/examples/DirectDebitValidateResponse'
                Bulk Direct Debit:
                  $ref: '#/components/examples/BulkDirectDebitValidateResponse'
                Direct Credit:
                  $ref: '#/components/examples/DirectCreditValidateResponse'
                Direct Debit (Token):
                  $ref: '#/components/examples/DirectDebitTokenValidateResponse'
                Direct Credit (Token):
                  $ref: '#/components/examples/DirectCreditTokenValidateResponse'
                Npp Pay (BankAccount):
                  $ref: '#/components/examples/NppPayBankAccountValidateResponse'
                Npp Pay (PayId):
                  $ref: '#/components/examples/NppPayIdValidateResponse'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  '/financial/v2/status/{uniqueReference}':
    get:
      tags:
        - Financial
      summary: Get transaction status by UID
      description: This API returns the status of a previous transaction.
        This is important because a directDebit transaction could be dishonoured up to 3 days after the transaction was executed.
        We recommend <a href="/payments#tag/Subscriptions"> subscribing to a webhook </a> to notify you when an dishonour transaction is made.
      operationId: TransactionStatusByUid
      parameters:
        - name: uniqueReference
          in: path
          required: true
          description: This is your uniqueReference that was passed in when the transaction was executed
          schema:
            type: string
            example: 'f484ec18-6e1f-481b-a4bf-bea515d8lk34'
            maxLength: 200
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.GenericPayment.GatewayTransactionStatusResponse_v2'
              examples:
                Pending:
                  $ref: '#/components/examples/TransactionStatusResponsePending'
                WaitingOnClearedFunds:
                  $ref: '#/components/examples/TransactionStatusResponseWaitingOnClearedFunds'
                Rejected:
                  $ref: '#/components/examples/TransactionStatusResponseRejected'
                Dishonoured:
                  $ref: '#/components/examples/TransactionStatusResponseDishonoured'
                ClearedFunds:
                  $ref: '#/components/examples/TransactionStatusResponseClearedFunds'
                Complete:
                  $ref: '#/components/examples/TransactionStatusResponseComplete'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  '/financial/v2/status/{startDate}/{endDate}':
    get:
      tags:
        - Financial
      summary: Get transaction status by Date
      description: This API returns the status of the specific date of the transactions.
        This is important because a directDebit transaction could be dishonoured up to 3 days after the transaction was executed.
      operationId: TransactionStatusByDate
      parameters:
        - name: startDate
          in: path
          required: true
          description: This is the startDate. date format should be 'yyyy-MM-dd'
          schema:
            type: string
            format: date-time
            example: '2019-01-01'
        - name: endDate
          in: path
          required: true
          description: This is the endDate. date format should be 'yyyy-MM-dd'
          schema:
            type: string
            format: date-time
            example: '2019-01-31'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.GenericPayment.GatewayTransactionStatus2Response_v2'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error

  '/reports/v1/unclearedFunds/{startDate}':
    get:
      tags:
        - Financial
      summary: Get Uncleared Transactions by Date
      description: |
        This API endpoint can be used to get details of uncleared direct debit transactions.
      operationId: GetUnclearedFundsByDate
      parameters:
        - in: path
          name: startDate
          required: true
          schema:
            type: string
            format: date-time
          description: Start Date in ISO8601 date-time format.
        - in: query
          name: endDate
          schema:
            type: string
            format: date-time
          description: End Date in ISO8601 date-time format. Defaults to startDate + 24 hours if not provided.
        - in: query
          name: pageNumber
          schema:
            type: integer
            format: int32
          description: Page number to be returned. Defaults to 1 if not provided.
        - in: query
          name: pageSize
          schema:
            type: integer
            format: int32
          description: Number of records per page. Defaults to 50, maximum allowed value is 200.
      responses:
        '200':
          description: A list of uncleared transactions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.UnclearedFundResult_v1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error

  # mAccount
  /mAccount/v1/create:
    post:
      tags:
        - mAccount
      summary: Create an mAccount
      description: This API creates an mAccount.
      operationId: MAccountCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mAccount.create'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.mAccountCreateResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  '/mAccount/v1/close/{accountNumber}':
    get:
      tags:
        - mAccount
      summary: 'Close an mAccount'
      description: This API closes an mAccount.
      operationId: MAccountClose
      parameters:
        - name: accountNumber
          in: path
          required: true
          description: 16-Digit account number that uniquely identifies the mAccount
          schema:
            type: string
            example: '6279059700023123'
            maxLength: 16
            minLength: 16
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.mAccountCloseResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  '/mAccount/v1/financials/{accountNumber}':
    get:
      tags:
        - mAccount
      summary: Get mAccount Balance
      description: This API will return the current financials for an mAccount.
      operationId: MAccountGetFinancials
      parameters:
        - name: accountNumber
          in: path
          required: true
          description: 16-Digit account number that uniquely identifies the mAccount
          schema:
            type: string
            example: '6279059778044302'
            maxLength: 16
            minLength: 16
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.mAccountGetFinancialsResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  '/mAccount/v1/get/{accountNumber}':
    get:
      tags:
        - mAccount
      summary: Get mAccount details
      description: This API gets details of an mAccount. Property details.options will contain ALL options and their current values.
      operationId: MAccountGet
      parameters:
        - name: accountNumber
          in: path
          required: true
          description: 16-Digit account number that uniquely identifies the mAccount
          schema:
            type: string
            example: '6279059700023123'
            maxLength: 16
            minLength: 16
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.mAccountGetResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  /mAccount/v1/listAsIssuer:
    get:
      tags:
        - mAccount
      summary: List as issuer
      description: Returns a list of 16-Digit mAccounts that you own.
      operationId: MAccountList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.mAccountListResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  /mAccount/v1/sendStatement:
    post:
      tags:
        - mAccount
      summary: Send a statement
      description: This API generates a detailed pdf statement for delivery via email.
      operationId: MAccountSendStatement
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mAccount.sendStatement'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.mAccountSendStatementResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  /mAccount/v1/transactions:
    post:
      tags:
        - mAccount
      summary: Get transactions by mAccount
      description: This API generates a transaction details.
      operationId: MAccountTransactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mAccount.transactions'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.mAccountTransactionsResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  /mAccount/v1/update:
    post:
      tags:
        - mAccount
      summary: Update mAccount details
      description: This API updates a mAccount.
      operationId: MAccountUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mAccount.update'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.mAccountUpdateResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error

  # mWallet
  /mWallet/v1/create:
    post:
      tags:
        - mWallet
      summary: Create an mWallet
      description:
        'This API creates a new mWallet. This creation process has been mandated by BPAY Pty Ltd as part of the license to use BPAY as a payment method.
        Ideally client software should mask the pin from the merchant and get the customer to key in the pin number twice to ensure accuracy and to maintain privacy.
        The pin and the Date of Birth Fields are the ultimate authentication fields that a customer has to allow the payment.
        If the customer forgets their pin then it can be reset using the ResetPin function.
        The customer must supply a birth date (or any other significant date) that matches the one that is registered.
        If a customer queries why a birth date is needed as part of the registration process then it is for this reason.
        Note: Though specified as a birth date any date of significance would be appropriate. There is no date range checking to check for age etc.
        The date is used to allow changes to the pin only.'
      operationId: MWalletCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mWallet.create'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.mWalletCreateResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  '/mWallet/v1/close/{accountNumber}/{pin}':
    get:
      tags:
        - mWallet
      summary: 'Close an mWallet'
      description: This API will set an account to be closed and no further financial transactions can be performed in the Engine.
      operationId: MWalletClose_V1
      parameters:
        - name: accountNumber
          in: path
          required: true
          description: 16-Digit account number that uniquely identifies the mWallet
          schema:
            type: integer
            example: 6279059700011434
            maxLength: 16
            minLength: 16
        - name: pin
          in: path
          required: true
          description: 4 digit numerical pin.
          schema:
            type: integer
            example: 6666
            maxLength: 4
            minLength: 4
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.mWalletCloseResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  '/mWallet/v1/financials/{accountNumber}/{pin}':
    get:
      tags:
        - mWallet
      summary: Get mWallet Balance
      description: This API will return the current financials for an mWallet.
      operationId: MWalletGetFinancials
      parameters:
        - name: accountNumber
          in: path
          required: true
          description: 16-Digit account number that uniquely identifies the mWallet
          schema:
            type: integer
            example: 6279059700011434
            maxLength: 16
            minLength: 16
        - name: pin
          in: path
          required: true
          description: 4 digit numerical pin.
          schema:
            type: integer
            example: 6666
            maxLength: 4
            minLength: 4
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.mWalletGetFinancialsResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  '/mWallet/v1/reopen/{accountNumber}/{pin}':
    get:
      tags:
        - mWallet
      summary: Reopen a closed mWallet
      description: This API will reopen an mWallet that was closed.
      operationId: MWalletReopen
      parameters:
        - name: accountNumber
          in: path
          required: true
          description: 16-Digit account number that uniquely identifies the mWallet
          schema:
            type: string
            example: 6279059700011434
            maxLength: 16
            minLength: 16
        - name: pin
          in: path
          required: true
          description: 4 digit numerical pin.
          schema:
            type: integer
            example: 6666
            maxLength: 4
            minLength: 4
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.mWalletReopenResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  /mWallet/v1/resetPin:
    post:
      tags:
        - mWallet
      summary: Reset an mWallet PIN
      description: This API resets a customer's mWallet PIN.
        The Date of Birth is used to authenticate the user.
        This API should be used when a customer has forgotten their pin.
      operationId: MWalletResetPin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mWallet.resetPin'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.mWalletResetPinResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  '/mWallet/v1/search':
    get:
      tags:
        - mWallet
      summary: mWallet search
      description:
        This API returns an array of mWallets whose authentication fields match the search criteria specified by the identifier.
        Mobile phone, land line and 16 - Digit mWallet account numbers have all non - numbers stripped and email address is converted to lower case.
        This is the first function to call when trying to identify a customer with an mWallet.
        The key piece of information returned for each mWallet is the unique accountNumber that is used in later calls and in the payment gateway.
      operationId: MWalletSearch
      parameters:
        - name: identifier
          in: query
          required: false
          description: Mobile phone number, email address, landline number or the 16-Digit mWallet account number
          schema:
            type: string
            example: '0414811109'
            maxLength: 300
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.mWalletSearchResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  /mWallet/v1/transactions:
    post:
      tags:
        - mWallet
      summary: Get transactions by mWallet
      description: This API will return an array of transactions for an mWallet between two dates.
        Paging is supported by using the skip and take properties of the mWalletTransactionRequestDetails class.
        The information retrieved is in real - time and represents the same details as displayed on an mAccounts financial statement.
      operationId: MWalletTransactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mWallet.transactions'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.mWalletTransactionsResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  /mWallet/v1/update:
    post:
      tags:
        - mWallet
      summary: Update mWallet details
      description: This API updates an mWallet.
        This update process has been mandated by BPAY Pty Ltd as part of the license to use BPAY as a payment method. The pin or dateOfBirth Dates are not updatable.
      operationId: MWalletUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mWallet.update'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.mWalletUpdateResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error

  #Ledger Account
  /ledger/v1/create:
    post:
      tags:
        - Ledger Account
      summary: Create a new ledger account
      description: >
        Create a new, active ledger with a linked automatcher. This endpoint also allows you to link an existing automatcher to the ledger by passing an existing bankAccountNumber. Optionally, you can also specify a BSB. If no existing automatcher is linked, a new one will be created.</br></br>
        If you wish to link a PayID to the automatcher you will need to use the PayID endpoints.</br></br>
        The API response will vary based on whether a new automatcher is being created, or an existing automatcher is being linked to the ledger account. Automatcher activation is an asynchronous process that can take a few minutes to complete. If a new or inactive automatcher is linked, the API will respond with isActive: false, and the statusDescription: "Account is being setup for Npp. Please allow a few minutes for the account to become active".
      operationId: LedgerCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LedgerCreate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.LedgerCreateResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error

  /ledger/v1/close:
    post:
      tags:
        - Ledger Account
      summary: Close a ledger account
      description: >
        Close a ledger when it’s no longer required. For this endpoint to be used the ledger account balance must be $0, otherwise an error will be returned.
      operationId: LedgerClose
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LedgerClose'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.LedgerCloseResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error

  /ledger/v1/balance/{ledgerAccountNumber}:
    get:
      tags:
        - Ledger Account
      summary: Retrieve the current balance of a ledger
      description: >
        Query the current balance of a single ledger. This endpoint also returns a lightweight set of fields related to the ledger account, such as the status and creation date.
      operationId: LedgerBalance
      parameters:
        - name: ledgerAccountNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.LedgerBalanceResponse_V1'
        '400':
          description: Bad request
        '404':
          description: Ledger not found

  /ledger/v1/transactions:
    post:
      tags:
        - Ledger Account
      summary: Retrieve transactions for a ledger
      description: >
        Return the transactions for a ledger account between two dates. This endpoint returns an array of transaction line items along with a running balance.</br></br>
        The query can be customised to order, skip and fetch as many records as required. Paging is controlled using the skip and take attributes. By default, the query will return the last months records in descending order.
      operationId: LedgerTransactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LedgerTransactionsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.LedgerTransactionsResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error

  /ledger/v1/financials:
    post:
      tags:
        - Ledger Account
      summary: Retrieve financial details of a ledger
      description: >
        This endpoint returns the automatcher details and financials for a ledger. The financials include the available balance, allowed spend & and allowed load, and the maximum balance that can be held within the ledger account.
      operationId: LedgerFinancials
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LedgerFinancialsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.LedgerFinancialsResponse_V1'
        '400':
          description: Bad request
        '404':
          description: Ledger not found
        '500':
          description: Internal Server Error

  /ledger/v1/allAccounts:
    get:
      tags:
        - Ledger Account
      summary: Retrieve all ledger accounts
      description: >
        Returns a list of all ledgers attached to the requestors mAccount, with options to include closed accounts in the query. If no ledger accounts exist, an empty array will be returned.
      operationId: LedgerAllAccounts
      parameters:
        - name: includeClosed
          in: query
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.AllLedgersResponse_V1'
        '400':
          description: Bad request
        '404':
          description: No ledgers found

  # public
  /public/v1/ping:
    get:
      tags:
        - Public Endpoints
      summary: Ping
      description: The primary purpose of the ping API is to validate that the system is up and running. No Authentication is required.
      operationId: PublicPing
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.PublicPingResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  '/public/v1/certificate':
    get:
      tags:
        - Public Endpoints
      summary: Webhook Signing Certificate
      description: |
        This endpoint returns the current X.509 certificate, which contains the public key that you can use to verify messages sent by Monoova.</br>
        The certificate returned is short-lived (1-year validity) and should be updated accordingly.
        </br></br>
      operationId: PublicCertificate
      security: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  '/public/v1/certificate/public-key':
    get:
      tags:
        - Public Endpoints
      summary: Retrieve Public Key
      description:
        This endpoint returns the public key used by Monoova to sign messages.The public key is encoded as a hexadecimal string.</br>
        This public key should be expected to change every 1 year and should be updated accordingly.
      operationId: PublicCertificatePublicKey
      security: []
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              examples:
                response:
                  value: '3082010A0282010100D1F5EF12A7C71A12478280DCD7D9C8D62E70A7252A02C88D0F768B9860FB773F3C45E33944DF7824AEDAD990B53F5E58719D39790013375E5895FC05FFE7130FA9003C8072850D8499A9C8A676F7D0F719F8BC8CEA0BD0697D1D5B4856A0A0FAB4F297CB53FD00D62091748E8949ED9395887A1D965DCDD8B648709A3EF3E7F83546015AE8154896391973CF4217D859C4D81C81514A38416BD7E7B2CD75BA643B4F07CE2DF6DFA142AF140E0A1C9E3FA708FEA2BDFA4A8B574CC7C757AD8A7B22801356C45AC338DCF8CFA8DFF662A9D4C81EB120D657F8531977B3178B5365E1FCF87E4A9A30A1D351644D6D62F4CE4346C65C5307BB7840493EFDE175516F0203010001'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error

  # reports
  '/reports/v1/settlement/{date}':
    get:
      tags:
        - Reports
      summary: Get all transactions in a daily settlement
      description: 'You may choose to set your mAccounts to settle automatically every day.
        If so, the mAccount balance will be brought to zero at 4pm (Sydney time) each business day.
        Any positive balance will be disbursed to the bank account you have linked;
        any negative balance will be direct debited from the bank account you have linked.
        Transactions on weekends, public holidays and after 4pm won’t appear in the settlement report until after 4pm the next business day. <br>
        This report returns an array of actual disbursements for each transaction that was settled on the given date.
        Date is represented by ISO8601 – ‘2016-03-01’ for 1st March 2016.'
      operationId: ReportSettlement
      parameters:
        - name: date
          in: path
          required: true
          description: Date is represented by ISO8601 – ‘2016-03-01’ for 1st March 2016.
          schema:
            type: string
            example: '2016-03-01'
            maxLength: 13
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.GenericPayment.GenericPaymentSettlementResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  '/reports/v1/statement/{date}':
    get:
      tags:
        - Reports
      summary: Get all successful transactions for a date
      description: This API returns all successful transactions on the given date. Date is represented by ISO8601 – ‘2016-03-01’ for 1st March 2016.
      operationId: ReportStatement
      parameters:
        - name: date
          in: path
          required: true
          description: Date is represented by ISO8601 – ‘2016-03-01’ for 1st March 2016.
          schema:
            type: string
            example: '2016-03-01'
            maxLength: 13
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.GenericPayment.GenericPaymentStatementResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error

  # security
  '/security/v1/createOneShotSecurityToken/{timeOutMin}':
    get:
      tags:
        - Security
      summary: Create OneShot security Token
      description: |
        This API returns a security token that can be used only once or until it expires. 
        The purpose of this token is that it can be embedded in a web form to enable you to make a single call to the Engine without exposing your Sign-In Account credentials.
        When setting your security credentials to call any of the APIs in this document (except for security/v1/createOneShotSecurityToken), 
        set the Username to the returned OneShotSecurityToken and set the password to anything as it will be ignored.
      operationId: SecurityCreateOneShotSecurityToken
      parameters:
        - name: timeOutMin
          in: path
          required: true
          description: Each token has an expiry time between 1 and 15 minutes
          schema:
            type: number
            example: 5
        - name: Claims
          in: query
          required: false
          description:
            This is Optional. Passing a 'Token' in parameter to generate restricted Token which only allows user to create Token.
            Currently Available parameters are 'Admin', 'Reporting' and 'Token'
          schema:
            type: string
            example: 'Token'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.GenericPayment.CreateOneShotSecurityTokenResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  /security/v1/signInAccountSettings:
    get:
      tags:
        - Security
      summary: Get Sign-in account fees & permissions
      description: This API returns the fees and permissions that have been given to the Sign-In Account.
      operationId: SecuritySignInAccountSettings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.GenericPayment.SettingsResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error

  # token
  /token/v1/createAustralianBankAccount:
    post:
      tags:
        - Token
      summary: Create bank account token
      description: This API creates a token representing an Australian Bank Account by passing a TokenAustralianBankAccountPayload class in the body.
      operationId: TokenCreateAustralianBankAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/token.createAustralianBankAccount'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.TokenCreateResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  /token/v1/createBPAY:
    post:
      tags:
        - Token
      summary: Create BPAY token
      description: This API creates a token representing BPAY details by passing a TokenBPAYPayload class in the body.
      operationId: TokenCreateBPAY
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/token.createBPAY'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.TokenCreateResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  '/token/v1/delete/{token}':
    delete:
      tags:
        - Token
      summary: Delete token
      description: This API will delete the payload attached to the specified token.
      operationId: TokenDelete
      parameters:
        - name: token
          in: path
          required: true
          description: The text (GUID) that identifies the token.
          schema:
            type: string
            example: '8c4df16a-78f1-4a1a-9500-357deb3310aa'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.TokenDeleteResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  '/token/v1/get/{token}':
    get:
      tags:
        - Token
      summary: Get token details
      description: This API will return the payload attached to the specified token.
      operationId: TokenGet
      parameters:
        - name: token
          in: path
          required: true
          description: The text (GUID) that identifies the token.
          schema:
            type: string
            example: '8c4df16a-78f1-4a1a-9500-357deb3310aa'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.TokenGetResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  '/token/v1/list/{accountNumber}':
    get:
      tags:
        - Token
      summary: List tokens by mAccount
      description: This API will return a list of all tokens associated with the provided mWallet or mAccount.
      operationId: TokenList
      parameters:
        - name: accountNumber
          in: path
          required: true
          description: 16-Digit account number that uniquely identifies the mAccount
          schema:
            type: string
            example: '6279059700023123'
            maxLength: 16
            minLength: 16
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.TokenListResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  /token/v1/updateAustralianBankAccount:
    post:
      tags:
        - Token
      summary: Update bank account token
      description: 'This API provides the ability to update the payload associated with an existing token. For this API, the payload to update is a TokenAustralianBankAccount class.'
      operationId: TokenUpdateAustralianBankAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/token.updateAustralianBankAccount'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.TokenUpdateResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  /token/v1/updateBPAY:
    post:
      tags:
        - Token
      summary: Update BPAY token
      description: 'This API provides the ability to update the payload associated with an existing token. For this API, the payload to update is a TokenBPAY class.'
      operationId: TokenUpdateBPAY
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/token.updateBPAY'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.TokenUpdateResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  '/token/v1/validate/{token}':
    get:
      tags:
        - Token
      summary: Validate token
      description: This API validates a token by passing a Token in the body.
      operationId: TokenValidate
      parameters:
        - name: token
          in: path
          required: true
          description: The text (GUID) that identifies the token.
          schema:
            type: string
            example: '8c4df16a-78f1-4a1a-9500-357deb3310aa'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.TokenValidateResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error

  # tools
  /tools/v1/ping:
    get:
      tags:
        - Tools
      summary: Ping (test authentication)
      description: The primary purpose of the ping API is to validate your credentials as well validate that the Engine servers are up and running.
      operationId: ToolsPing
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.ToolsPingResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  '/tools/v1/bsbValidate/{bsbNumber}':
    get:
      tags:
        - Tools
      summary: Validate a BSB
      description: The purpose of this API is to return details about a BSB (Bank-State-Branch) number. The format is a string in the following format:&nbsp;‘999-999’.
      operationId: ToolsBsbValidate
      parameters:
        - name: bsbNumber
          in: path
          required: true
          description: BSB (Bank-State-Branch) number. The format is a string in the following format:&nbsp;‘999-999’.
          schema:
            type: string
            example: '012-433'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.ToolsBsbValidateResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  '/tools/v1/abnValidate/{abnNumber}':
    get:
      tags:
        - Tools
      summary: Validate an ABN
      description:
        'The purpose of this API is to validate that an ABN (Australian Business Number) is correct and determine if it’s valid.&nbsp;
        This API makes a call to the Australian Business Registry returning current details about the company.&nbsp;
        An ABN is defined as a string of eleven numeric digits.Spaces are allowed but no other characters.&nbsp;
        If the resulting status property contains ‘Ok’ then examine the property isAbnValid.&nbsp;
        The property isCharity will be true if the entity is an active registered charity.&nbsp;
        A list of codes and more information is available at http://abr.business.gov.au/Documentation/ReferenceData'
      operationId: ToolsAbnValidate
      parameters:
        - name: abnNumber
          in: path
          required: true
          description: ABN (Australian Business Number)
          schema:
            type: string
            example: '24611393554'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.ToolsAbnValidateResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  /tools/v1/sendEmailToIssuer:
    post:
      tags:
        - Tools
      summary: Email an issuer
      description: The purpose of this API is to provide email functionality for your application to send emails to the Sign-In Accounts Issuer.
      operationId: ToolsSendEmailToIssuer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tools.sendEmailToIssuer'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.ToolsSendEmailResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error

  # verify
  /verify/v2/aba/initiate:
    post:
      tags:
        - Verify
      summary: Initiate a NPP verification transaction
      description: Initiates a verification transaction against a designated bank account or PayID via NPP rail using the v2 endpoint.
      operationId: VerifyNPPAccountPayIdInitiate
      x-codeSamples:
        - lang: 'Npp To BankAccount '
          source: |
            {
              "creditMethod": "NppCreditBankAccount",
              "bsb": "802-985",
              "bankAccountNumber": "718414234",
              "accountName": "Monoova",
              "remitter": "RemitterName",
              "verificationIdentifier": "NPP Bank Account Verification Identifier"
            }
        - lang: 'Npp To PayId'
          source: |
            {
              "creditMethod": "NppCreditPayId",
              "payId": "MW9GM4@monoova.me",
              "payIdType": "Email",
              "accountName": "Monoova",
              "remitter": "RemitterName",
              "verificationIdentifier": "NPP PayId Verification Identifier"
            }
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/verify.initiate2'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.VerifyAccountInitiateResponse_V2'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  /verify/v1/aba/initiate:
    post:
      tags:
        - Verify
      summary: Initiate a DE Verification Transaction
      description: Inititiates a verification transaction against a designated bank account.
      operationId: VerifyAccountInitiate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/verify.initiate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.VerifyAccountInitiateResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  /verify/v1/aba/validate:
    post:
      tags:
        - Verify
      summary: Complete an account verification
      description: Validates a code against a token generated via the initiate call. After 3 failed attempts the token will get locked for 1 hour. Users can retry with same token after 1 hour or initiate a new verification anytime.
      operationId: VerifyAccountValidate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/verify.validate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.VerifyAccountValidateResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  '/verify/v1/aba/get/{token}':
    get:
      tags:
        - Verify
      summary: Get a verification token's details
      description: Return details for a specific verification token.
      operationId: VerifyAccountGet
      parameters:
        - name: token
          in: path
          required: true
          description: Generated Token from verify/v1/aba/initiate (Initiates a verification transaction)
          schema:
            type: string
            example: 'f45d1c83-1533-4cbb-ae05-4381e181cb18'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.VerifyAccountGetResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  /verify/v1/aba/list:
    get:
      tags:
        - Verify
      summary: List verified bank accounts
      description: Get a list of all verified bank accounts.
      operationId: VerifyAccountList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.VerifyAccountListResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  /verify/v1/aba/update:
    post:
      tags:
        - Verify
      summary: Update a verified bank account
      description: 'Update the following fields for a verified account&#39;s without reverifying the bank account. Bank Account Title, Has DDR authority'
      operationId: VerifyAccountUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/verify.update'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTO.VerifyAccountUpdateResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error

  # Bank Account Receivables
  /receivables/v1/create:
    post:
      tags:
        - Automatcher (Bank Account Receivables)
      summary: Create an Automatcher (Receivables) Account
      description:
        Creates a new bank-account number. For the creation of batches of account numbers, please see <a href="/payments#operation/ReceivablesBatchCreate"> /receivables/v1/batchCreate </a>
        These account numbers can be used along with the returned BSB to receive payments from any bank in Australia.
        Payments to an invalid bank-account number, i.e. one that has not been created, will be returned by Monoova to the remitting institution.
        Each account number has a check digit to minimize common payer errors such as adjacent transposition errors or single-digit typos.
        An optional unique ID can be linked to each account number for your reference.
        If a unique ID is not provided, Monoova will generate and return one automatically.
        If isActive is omitted, it will default to false.
        This can be changed to true via the <a href="/payments#operation/ReceivablesStatus"> /receivables/v1/status</a> endpoint.
      operationId: ReceivablesCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/receivables.create'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/receivablesCreateResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  /receivables/v1/status:
    post:
      tags:
        - Automatcher (Bank Account Receivables)
      summary: Set Account Status
      description:
        Bank accounts can be active or inactive. Inactive accounts will have all payments rejected and returned to the payer.
        Status can be called using either bank account number or clientuniqueId.
      operationId: ReceivablesStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/receivables.status'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/receivablesStatusSetResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  '/receivables/v1/statusByBankAccount/{bankAccountNumber}':
    get:
      tags:
        - Automatcher (Bank Account Receivables)
      summary: Get Account Status By BankAccount
      description:
        Returns the status of a bank account number. Without changing the status, this API is used for checking the status of a bank account.
        Status can be called using either bankaccount number or clientUniqueId.
      operationId: ReceivablesStatusByBank
      parameters:
        - name: bankAccountNumber
          in: path
          required: true
          description: The bank account number generated.
          schema:
            example: '153884104'
            type: string
        - name: bsb
          in: query
          required: false
          description: Optional BSB parameter specifying the branch identifier for Australian banks. Accepts either 6 digits or with a hyphen as "XXX-XXX". If not specified, the service will use the MAccount’s configured ‘Default BSB’. If a ‘Default BSB’ has not been configured, then the Monoova ‘Default BSB’ will be used.
          schema:
            type: string
            maxLength: 7
            example: '802-985'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/receivablesStatusGetResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  '/receivables/v1/statusByClientID/{clientUniqueId}':
    get:
      tags:
        - Automatcher (Bank Account Receivables)
      summary: Get Account Status By ClientUniqueId
      description: |
        Returns the status of a bank account number. Without changing the status, this API is used for checking the status of a bank account.
        Status can be called using either bankAccount number or clientUniqueId.
      operationId: ReceivablesStatusByClientID
      parameters:
        - name: clientUniqueId
          in: path
          required: true
          description: 'An identifier assigned to the account.'
          schema:
            example: 862944d057FC408B9B04541C2BA12
            type: string
        - name: bsb
          in: query
          required: false
          description: Optional BSB parameter specifying the branch identifier for Australian banks. Accepts either 6 digits or with a hyphen as "XXX-XXX". If not specified, the service will use the MAccount’s configured ‘Default BSB’. If a ‘Default BSB’ has not been configured, then the Monoova ‘Default BSB’ will be used.
          schema:
            type: string
            maxLength: 7
            example: '802-985'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/receivablesStatusGetResponse_V1'
        '400':
          description: Bad request
        '500':
          description: Internal Server Error
  '/receivables/v6/report/{date}':
    get:
      tags:
        - Automatcher (Bank Account Receivables)
      summary: Report
      description:
        Returns a report of all received transactions for the day with associated details, this includes Direct Entry and NPP Receivables.
        If requested multiple times on the current date (calendar day, AEDT), the report is cumulative.
        E.g. if, on the same day, a report is requested at 10am and another one at 1pm, the report at 1pm will contain all the transactions already contained in the 10am report,
        in addition to any new transactions.
        Direct Entry transactions arrive in batches 7 times throughout the day,
        8.30am, 11.30am, 14.30pm, 17.30pm, 19.45pm, 21.45pm and 22.50pm (emergency), business days only.
        NPP Transactions may arrive at anytime, we recommend <a href="/payments#tag/Subscriptions"> subscribing to a webhook </a> to receive new transaction notifications.
        <br/> <br/>
        The report is an application/octet-stream, columns are comma separated. Where a comma(,) or double quote(") is present in any of the below fields,
        the field will be encased in double quotes and/or escaped as per <a href="https://tools.ietf.org/html/rfc4180" target="_blank">RFC4180</a><br>
        Columns are as follows:&nbsp;
        <style type="text/css">
        .tb { table-layout:auto; width:100px;!important }
        .td { overflow:hidden; white-space:nowrap; text-overflow:ellipsis; !important}
        </style>
        <table class="tb">
        <tr>
        <td class="td"> Transaction ID </td>
        <td class="td"> Batch ID </td>
        <td class="td"> Datetime </td>
        <td class="td"> BSB </td>
        <td class="td"> AccountNumber </td>
        <td class="td"> AccountName </td>
        <td class="td"> PayId </td>
        <td class="td"> PayId Name </td>
        <td class="td"> TransactionCode </td>
        <td class="td"> TransactionType </td>
        <td class="td"> Amount </td>
        <td class="td"> LodgementRef </td>
        <td class="td"> RemitterName </td>
        <td class="td"> Indicator </td>
        <td class="td"> WithholdingTaxAmount (if applicable) </td>
        <td class="td"> EndToEndId</td>
        <td class="td"> RespondBeforeDateTime </td>
        <td class="td"> NameOfUserSupplyingFile </td>
        <td class="td"> NumberOfUserSupplyingFile </td>
        <td class="td"> DescriptionOfEntriesOnFile </td>
        <td class="td"> SourceBsb </td>
        <td class="td"> SourceAccountNumber </td>
        <td class="td"> SourceAccountName </td>
        <td class="td"> CategoryPurposeCode </td>
        <td class="td"> CreditorReferenceInformation </td>
        <td class="td"> USINumber </td>
        <td class="td"> USIScheme </td>
        <td class="td"> UltimateCreditorName </td>
        <td class="td"> ReconciliationRuleReference </td>
        </tr>
        <tr>
        <td class="td">
        <br/> <br/>
        Monoova generated <br/>
        Unique ID. <br/>
        Max 12 chars.
        <br/> <br/> <br/>
        </td>
        <td class="td">
        Payment Batch ID. <br/>
        Payments come in batches <br/>
        throughout the day. <br/>
        Max 12 chars. Blank if NPP.
        </td>
        <td class="td">
        AEDT, Sydney. <br/>
        Max 27 chars.
        </td>
        <td class="td">
        Payee BSB. <br/>
        Max 7 Chars.
        </td>
        <td class="td">
        Payee Bank Account <br/>
        Number. Max 34 chars.
        </td>
        <td class="td">
        Payer submitted Account <br/>
        Name. Max 32 chars.
        </td>
        <td class="td">
        Email address for the PayID. <br/>
        Max 256 chars.
        </td>
        <td class="td">
        Name displayed to the payers <br/>
        Max 140 chars.
[...]
